$padding: 15px;
$bgColor: #faf7ff;
$defaultHeight: 450px;

.entry-page
{
	width:100%;
	height:100%;
	position: absolute;
	left: 0px;
	padding-left: $padding;
	padding-right: $padding;
}

.hide-me
{
	top: -10000px;	
}