@import "../../default-style.scss";

.hidden
{
	display: none;
}
.ts16949-overview
{
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: $bgColor;	
}
.business-and-kpi
{
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 50px;
}