@import "../../default-style.scss";

$CentralWrapperPadding: 10px;
.ts16949-process
{
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: pink;
	display: relative;
	background-color: #faf7ff;/* $bgColor;*/

	.row
	{
		padding-left: 15px;
		padding-right: 15px;
		&.row0
		{
			height: 10%;
		}
		&.row1
		{
			height: 60%;

			.row1-1
			{
				height: 40%;
			}
			.row1-2
			{
				padding-top: 5px;
				height: 60%;
			}
		}
		&.row2
		{
			padding-top: 5px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			height: 30%;
		}

		.column
		{
			height: 100%;
			padding-left: 3px !important;
			padding-right: 3px !important;
		}
	}

	.box
	{
		border-radius: 5px;
		border: 1px solid black;
		padding-left: 3px;
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		width: 100%;
		position: relative;

		&.central-box
		{
			border: none;
			padding: $CentralWrapperPadding;
			padding-right: $CentralWrapperPadding + 10px;
			position: relative;

			>div.blocker
			{
				top: $CentralWrapperPadding;
				left: $CentralWrapperPadding;
				right: $CentralWrapperPadding + 10px;
				bottom: $CentralWrapperPadding;
				overflow-y: hidden;
				overflow-x: hidden;
				z-index: 1;
				border: 1px solid black;
				position: absolute;
				border-radius: 5px;

				>.central-wrapper
				{
					top: 10px;
					bottom: 10px;
					left: 30px;
					right: 20px;
					overflow-y: auto;
					overflow-x: hidden;
					position: absolute;
				}
			}
			img.arrow
			{
				position: absolute;
						
				z-index: 2;

				&.left, &.right
				{
					height: 40px;
					width: 40px;
					&.left
					{
					
						left: 0px;
						top: 47px;
					}
					&.right
					{
						right: 0px;
						top: 47px;				
					}
				}								
				&.top-1
				{
					width: 40px;
					height: 20px;
					left: 120px;
					top: 0;
				}
				&.top-2
				{
					width: 40px;		
					height: 20px;
					right: 120px;
					top: 0;
				}

				&.bot-1,&.bot-2
				{
					width: 40px;
					height: 20px;
					bottom: 0px;
					&.bot-1
					{
						left: 120px;
					}
					&.bot-2
					{
						right: 120px;
					}
				}				
			}
		}
		/**/

		.title
		{
			height: 20px;
			color: purple;
			text-decoration: underline;
			font-size: 15px;
		}
		div.wrapper
		{
			top: 20px;
			bottom: 3px;
			left: 3px;
			right: 5px;
			word-break: break-word;
			overflow-x: hidden;
			overflow-y: auto;
			position: absolute;
		}
		ul 
		{
			list-style-type: disc;
			margin-left: 20px;
		}
		ul.dash
		{
			list-style-type: none;
			margin-left: 10px;
			li:before
			{
				margin-left: 0px;
				content: "→";
			}
			li
			{
				text-indent:3px;				
			}
		}
		ul.double-dash
		{
			list-style-type: none;
			margin-left: 20px;		
			li:before
			{
				margin-left: 0px;
				content: " * ";
			}			
			li
			{
				text-indent:3px; 		
			}
		}
	}

	.row0
	{
		ul.nav
		{
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li
			{
				display: inline-block;
				text-align: center;
				
				width: (100% / 11);

				span 
				{
					text-decoration: underline;
					color: blue;
					cursor: pointer;
					/*background-color: #c7c3c3;*/		

					&.current
					{
						font-weight: bold;
						color: red;
					}

					&:hover
					{
						color: orange;
					}
				}
			}
		}

		.title
		{
			font-weight: bold;
			font-size: 20px;
			color: #da2820;
			margin-top: 5px;
		}
	}
}
.hidden
{
	display: none;
}

.overview-widget
{
	background-color: white;	
	cursor: pointer;
	position: absolute;
	right: $padding;
	padding: 3px;
	bottom: 0px;
	width: 105px;
	inline-height: 30px;
	height: 55px;	
	border-radius:5px;
	border: 1px solid black;
	color: blue;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 1px solid blue;
	&:hover
	{
		border: 1px solid #db5bbb;
	}
}